* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}
